h2,
p {
  color: var(--txt-color);
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
}
.toolbar {
  padding: 30px;
  background-color: var(--btn-bg-color);
  color: var(--btn-txt-color);
}
.content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-card {
  padding: 20px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--btn-bg-color);
  color: var(--btn-txt-color);
  box-shadow: 2px 2px 4px var(--txt-color);
}
.button-card .material-icons {
  fill: var(--btn-txt-color);
}
.button-card:hover {
  cursor: pointer;
}
.footer {
  bottom: 0;
  padding: 30px;
  text-align: center;
  color: var(--txt-color);
}
.footer a {
  color: var(--btn-bg-color);
}
